.aboutMe {
  flex: 4;
  background-color: #95afc0;
}

.aboutMe__wrapper {
  width: 100%;
  padding: 7rem 3rem;

  .top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 50px;

    .about__card {
      width: 100%;
      height: 250px;
      position: relative;

      .card__wrapper {
        width: 100%;
        height: 100%;
        padding: 2rem 2rem;
        background-color: transparent;
        border-left: 2px solid #fff;
        color: #fff;

        .title {
          font-size: 20px;
          margin-bottom: 10px;
        }

        .desc {
          font-size: 16px;
          line-height: 20px;

          .plan {
            margin-bottom: 10px;
          }
        }

        .icon__container {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 3px solid #fff;
          padding: 0.5rem;
          background-color: #c7ecee;
          position: absolute;
          top: -2.5rem;
          left: -1.8rem;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .bottom {
    width: 100%;
    height: 350px;

    .skill__wrapper {
      width: 100%;
      height: 100%;
      padding: 1rem 0;

      .title {
        width: 100%;
        height: 10%;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #fff;

        h1 {
          flex: 8;
          position: relative;
          &::after {
            content: "";
            width: 80%;
            border: 2px dashed #fff;
            display: block;
            position: absolute;
            top: 40%;
            left: 8%;
          }
        }

        .title__icon {
          width: 60px;
          height: 60px;
          margin-right: 25px;
          border: 3px solid #fff;
          background-color: #c7ecee;
          border-radius: 50%;
          padding: 0.5rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .skill__icon-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        height: 90%;

        .skill__icon {
          width: 100px;
          height: 100px;
          margin-right: 5rem;
          background-color: #c7ecee;
          padding: 0.5rem;
          border-radius: 10px;
          border: 3px solid #fff;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
